In [1]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [2]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

li = ["abc", 34, 4.34, 23]

In [3]:
st = "Hello World"

In [4]:
print(st)

Hello World

In [5]:
st = 'Hello World'

In [6]:
print(st)

Hello World

In [7]:
st = """This is a multi-line
string that uses triple quotes."""

In [8]:
print(st)

This is a multi-line
string that uses triple quotes.

In [9]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [10]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [11]:
st = "Hello World"
st[1]

'e'

In [12]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [13]:
t[1:-1]

('abc', 4.56, (2, 3))

In [14]:
t[1:-1:2]

('abc', (2, 3))

In [15]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [16]:
t[2:]

(4.56, (2, 3), 'def')

In [17]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [18]:
t = [1, 2, 4, 5]
3 in t

False

In [19]:
4 in t

True

In [20]:
4 not in t

False

In [21]:
a = 'abcde'
'c' in a

True

In [22]:
'cd' in a

True

In [23]:
'ac' in a

False

In [24]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [25]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [26]:
"Hello" + " " + "World"

'Hello World'

In [27]:
li = ['abc', 23, 4.34, 23]

In [28]:
li[1] = 45

In [29]:
li

['abc', 45, 4.34, 23]

In [30]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [31]:
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = (23, 'abc', 3.14, (2,3), 'def')

In [ ]:
li = [1, 11, 3, 4, 5]

In [ ]:
li.append('a') # Note the method syntax

In [ ]:
li

In [ ]:

li.insert(2, 'i')

In [ ]:
li

In [ ]:

li.extend([9, 8, 7])

In [ ]:

li

In [ ]:
li.append([10, 11, 12])

In [ ]:

li

In [ ]:
li = ['a', 'b', 'c', 'b']

In [ ]:

li.index('b') # index of first occurrence*

In [ ]:
li.count('b') # number of occurrences

In [ ]:
li.remove('b') # remove first occurrence

In [ ]:
li

In [ ]:
li = [5, 2, 6, 8]

In [ ]:
li.reverse() # reverse the list *in place*

In [ ]:
li

In [ ]:
li.sort() # sort the list *in place*

In [ ]:
li

In [ ]:
li = list(tu)

In [ ]:
tu = tuple(li)